page-arrive-pay {

  .content {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.5em;
    font-weight:bold;
    padding-bottom: 30px;
  }

  .bold {
    font-weight: bold;
  }
  
  .submit {
    position: fixed;
    bottom: 40px;
    right: 35%;
  }
}
