page-await-pickup {

  ion-spinner {
    width: 38px;
    height: 38px;
    stroke: #444;
    fill: #222;
  }

  .spinner {
    width:100%;
    line-height: 70px;
    zoom:1.2;
  }

  .check {
    font-size: 2.5em;
    color: green;
    padding-top: 0px;
  }

  .bold {
    font-weight: bold;
  }

  .submit {
    margin-top: 10px;
  }

  .title {
    font-size: 1.5em;
    font-weight:normal;
    color:white;
  }

  .details-title {
    font-size: 1.3em;
    font-weight:bold;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .wait {
    margin-top: 75%;
  }

  .cust-info {
    line-height: 30px;
  }
}
