<ion-content padding>
  <div *ngIf="request.status === requested" text-center class="title wait">
    Awaiting Driver...
    <div class="spinner">
      <ion-spinner name="dots"></ion-spinner>
    </div>
  </div>
  <ion-card *ngIf="request.status === inProgress || request.status === completed" padding class="cust-info">
    <div text-center class="details-title">On my way!</div>
    <div class="details-title">Driver Information:</div>
    <div>Name: <span class="bold">{{request.driverUID?.firstName + ' ' + request.driverUID?.lastName}}</span></div>
    <div>Car: <span class="bold">{{request.driverUID?.vehicleType}}</span></div>
    <div>License: <span class="bold">{{request.driverUID?.licensePlate}}</span></div>
    <div>Eta: <span class="bold">{{request.eta}} min.</span></div>
    <div>
      <div class="details-title">Payment Information:</div>
      <div>Card Number: <br /><span class="bold">**** - **** - **** -
          {{request?.riderUID?.card.cardNumber|slice:0:4}}</span></div>
      <div>Expiration: <br /><span class="bold">{{request?.riderUID?.card.expDate}}</span></div>
      (Payment will be required on arrival.)
    </div>
  </ion-card>

  <div *ngIf="request.status === completed" text-center>
    <button text-center class="submit-button" (click)="pay()">PAY</button>
  </div>
</ion-content>