page-home {

  ion-card {
    background: transparent !important;
  }

  ion-input {
    background-color: rgba(128, 128, 128, .1);
    color: white;
  }

  .swiper-slide {
    font-size: 1em !important;
  }

  .login-input {
    margin-top: 15px;
    font-size: 1.3em;
    border-radius: 50px;
    background-color: #00001a;
    color:white;
    box-shadow: 3px 3px 70px #404040;
  }

  .login-signup {
    color: white;
    padding: 30px;
    background: radial-gradient(#262626, transparent);
    font-size: 1.3em;
  }
}
