page-home {

  ion-card {
    background: transparent !important;
  }

  ion-input {
    background-color: rgba(128, 128, 128, .1);
    color: white;
  }

  .swiper-slide {
    font-size: 1em !important;
  }

  .button-spacing{
    margin-top: 40px;
  }

  .login-input {
    margin-top: 20px;
    font-size: 1.3em;
    border-radius: 0px;
    background-color: white;
    color:white;
    box-shadow: 3px 3px 70px #404040;
  }

  .login-signup {
    color: white;
    padding: 30px;
    background-color: white;
    background: transparent;
    font-size: 1.3em;
  }
}
