page-request-pickup {

  ion-select {
    margin-left: 40px;
    background-color: rgba(0,0,0,0.4);
    max-width: 60%;
  }

  ion-input {
    background-color: rgba(128, 128, 128, .2);
    color: black;
  }

  ion-option {
    color: black;
  }

  .card {
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 1.2em;
    letter-spacing: 1px;
  }

  .card-padding {
    padding: 0px 16px 16px 16px;
  }
  
  .request {
    position: fixed;
    bottom: 40px;
    right: 30px;
  }

}
