<ion-content padding>

  <ion-card class="card">
    <div *ngIf="requestList.length === 0" text-center class="title wait">
      Awaiting Requests...
      <div class="spinner">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </div>
    <div *ngIf="stage === 1">
        <ion-card padding class="content" *ngFor="let request of requestList" (click)="selectRide(request)">
          <div>Name: <span class="bold">{{request.riderUID?.firstName + ' ' + request.riderUID?.lastName}}</span></div>
          <div>Location: <span class="bold">{{request.pickup}}</span></div>
          <div>Destination: <span class="bold">{{request.destination}}</span></div>
          <div>Time: <span class="bold">{{request.time}}</span></div>
        </ion-card>
    </div>
    <div *ngIf="stage === 2" padding>
      <div class="details-title bold">Customer Information:</div>
      <div class="content">
        <div>Name: <span class="bold">{{request.riderUID?.firstName + ' ' + request.riderUID?.lastName}}</span></div>
        <div>Location: <span class="bold">{{request.pickup}}</span></div>
        <div>Destination: <span class="bold">{{request.destination}}</span></div>
        <div>Time: <span class="bold">{{request.time}}</span></div>
      </div>
      <div text-center style="padding-top:50%">
        <div class="details-title">Enter your ETA:</div>
        <ion-input required [(ngModel)]="request.eta"></ion-input><span class="details-title">min.</span>
      </div>
    </div>
    <div *ngIf="stage === 3" text-center class="title wait">
      Awaiting Arrival...
      <div class="spinner">
        <ion-spinner name="dots"></ion-spinner>
      </div>
    </div>
  </ion-card>

  <div class="submit" *ngIf="stage === 2">
    <button text-center class="submit-button" (click)="updateRequest()">approve</button>
  </div>
  <div class="submit" *ngIf="stage === 3">
    <button text-center class="submit-button" (click)="arrived()">arrived</button>
  </div>

</ion-content>
